@use "../abstracts" as var;

#preview {
  background-color: hsl(0, 4%, 4%);
  border: 1px solid var.$border-color;
  border-radius: var.$border-radius;
  color: var.$white;
  font-weight: 800;
  min-height: 240px;
  text-align: center;
  text-shadow: -0.0625rem 0 var.$dark, 0 0.0625rem var.$dark, 0.0625rem 0 var.$dark, 0 -0.0625rem var.$dark;
  transition: var.$transition;
  user-select: text;
}

#controls {
  .button {
    margin-top: 1rem;
  }
}

@mixin medium {
  #preview {
    height: 100%;
  }
}
