.flex {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-bottom: 1rem;
}

.flex-item {
    flex: 1;
}

#color {
    align-items: center;
    background-color: hsl(240, 36%, 36%);
    border: 1px solid hsl(240, 16%, 88%);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    min-height: 8rem;
}

#caption {
    color: #fff;
    font-weight: 800;
    line-height: 1;
    text-shadow: -0.0625rem 0 #000, 0 0.0625rem #000, 0.0625rem 0 #000, 0 -0.0625rem #000;
}

input[type="range"] {
    -webkit-appearance: none;
    background: hsl(240, 16%, 88%);
    display: block;
    height: 1px;
    margin: 1rem 0;
    outline: none;
    -webkit-transition: 250ms;
    width: 100%;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
    background-color: hsl(210, 96%, 48%);
    border-width: 0;
    cursor: pointer;
    height: 1rem;
    transition: background-color 250ms ease-out;
    width: 1rem;
}

input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:hover::-moz-range-thumb {
    background-color: hsl(210, 96%, 60%);
}

button {
    background-color: hsl(240, 16%, 88%);
    border: 1px solid hsl(240, 16%, 88%);
    border-radius: 0.5rem;
    cursor: pointer;
    display: block;
    font-weight: 500;
    margin-top: 2rem;
    outline: 0;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    transition: opacity 250ms ease-out;
    width: 100%;

    &:hover {
        opacity: .88;
    }
}

@media only screen and (min-width: 768px) {
    .flex {
        flex-direction: row;
    }
}
